* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    background-image: url('../img/bg-img.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed ;
    min-height: 100vh;
}

body {
    width: 100%;
    font-family:'Open Sans', sans-serif;
    line-height: 1.75;
    letter-spacing: 1px;
}


/* --------------------HEADER--------------------*/ 

.bg-sombra {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:rgba(0,0,0,0.5);
    min-height: 100vh;
} 

#navbar {
    width: 100%;
    height: 100px;
    
}

#logo {
    width: 90px;
    position: absolute;
    top: 13px;
    left: 18%;   
}
    
#menu-lista {
    float: right;
    margin-right: 10%;
}

#menu-lista li {
    display: inline-block;
    line-height: 100px;
    margin: 0 15px;
    font-size: 1.25rem;
}

#menu-lista li a {
    color: #f7f5e6;
    position: relative;
}

#menu-lista li a:before {
   content: '';
   position: absolute;
   left: 0;
   bottom: 0;
   height: 2px;
   width: 100%;
   background: #EBF6EE;
   transform: scaleX(0);
   transform-origin: right;
   transition: transform .4s linear ;
}

#menu-lista li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

label #btn-menu, label #btn-cancelar {
    color: #f7f5e6;
    font-size: 1.88rem;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

#conteudo-inicial {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: #f7f5e6;
}

#conteudo-inicial h1{
    font-size: 3.5rem;
    font-weight: bold;
    color: #f7f5e6;;
}

#conteudo-inicial h2{
    font-size: 2.5rem;
    color: #f7f5e6;
}

#redes-sociais i{
    color: #f7f5e6;
    font-size: 3rem;
    margin: 0 0 30px 20px;
}

/* --------------------MAIN--------------------*/ 

#sobre {
    width: 100%;
    margin: 100px auto;
    min-height: 100vh;
    text-align: center;
}

#sobre h2 {
    font-size: 2rem ;
    margin: 50px;
}

#sobre p {
    font-size: 1.25rem;
    width: 58%;
    text-align: left;
    margin: 0 auto;
}

#desafio {
    background:#EBF6EE;
    min-height: 80vh;
    padding-bottom: 50px; 
}

#desafio h2 {
    text-align: center;
    font-size: 2rem;
    padding: 50px 0;
}

#perfil-container {
    width: 820px;
    background-color: #fff;
    margin:20px auto;
    padding-bottom: 10px;
    border-radius: 10px;
}

#perfil {
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #395442;
    font-weight: bold;
    text-transform: uppercase;
}
    
#perfil-qcx {
    width: 200px;
    text-align: center;
}

#perfil-qcx h3 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

#perfil-qcx img {
    width: 160px;
    border-radius: 50%; 
}

#perfil-qcx a {
    text-decoration: none;
    font-size: 1rem;
    color: #395442;
}

#informacoes-qcx {
    width: 300px;
    margin-right: 70px;
}

#informacoes-qcx ul {
    font-size: 1rem;
}

.btn-repositorio {
    width: 410px;
    margin-top: 100px;
}

.btn-repositorio input{
    width: 40%;
    height: 44px;
    font-size: 1rem;
    color: #97D7AD;
    background-color: transparent;
    border: 2px solid #97D7AD;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

#listar-repositorios, #listar-favoritos {
    box-sizing: border-box;
    display: none ;
    flex-direction: column;
    justify-content: left;
}

#listar-repositorios h4, #listar-favoritos h4 {
    color: #395442;
    width: 100%;
    padding: 0 10px;
    font-size: 1.25rem;
}


#listar-repositorios ul li, #listar-favoritos ul li{
    padding: 15px 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #395442;
}

#listar-repositorios ul li a, #listar-favoritos ul li a{
    color: #395442;
}

#listar-repositorios ul li a:hover, #listar-favoritos ul li a:hover{
    border-bottom: 3px solid #395442;
}

#listar-repositorios ul:nth-child(even), #listar-favoritos ul:nth-child(even) {
    background-color: #D2EEDF;
    width: 100%;
}

/* --------------------FOOTER--------------------*/ 

footer {
    background-color: #373737;
    min-height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

#copy p {
    color: #f7f5e6;
    font-size: 1.25rem;
}

#inicio-home a i {
    color: #373737;
    background-color: #f7f5e6;
    font-size: 1.88rem;
    border: 1px solid #fff;
    border-radius: 5px;
}
