.button {
  height: 30px;
  width: 70px;
  font-size: 2.2rem;
  color: #000;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}

.button:hover {
  opacity: 0.5;
}
