@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100vh;
}

/* body {
  transition: 2s;
}


html.is-animating .body {
  opacity: 0;
} */

.app {
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
