@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,300;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.section{
    height: 100vh;
    width: auto;
}

/*Estilos relacionados à primeira seção da página*/
.primeira-secao{
    background-image: url('../assets/white-setup.jpg');
    background-size: cover;
    filter: brightness(60%);
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#navbar{
    width: auto;
    height: 10vh;
    background-color: inherit;
    display: flex;
    justify-content: space-between;
}

#navbar > p {
    float: left;
    color: #FFFFFF;
    padding: 2vh 5vh;
    font-size: 1.4rem;
}

#navbar-right{
    float: right;
    padding: 2vh;
}

#navbar-right > a {
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.4rem;
    padding: 2vh 5vh;

}

#primeira-secao-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#primeira-secao-header {
    font-weight: bold;
    font-size: 3rem;
    color: #FFFFFF;
}

#primeira-secao-text {
    font-weight: bold;
    font-size: 1.8rem;
    color: #FFFFFF;
}

#primeira-secao-icons {
    width: auto;
    align-self: center;

}

.icons {
    width: 3rem;
    height: 3rem;
    padding: 3vw;
}
/*Estilos relacionados à segunda seção da página: Sobre mim*/
#sobre-mim {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.section-title {
    font-weight: bold;
    font-size: 3rem;
    font-weight: 900;
}

#sobre-mim-container {
    width: 50%;
    display: flex;
    flex-direction: column;

}

 .sobre-mim-texto {
    text-indent: 1em;
    padding: 2vh;
    font-weight: 400;
} 
/*Estilos relacionados à terceira seção da página: Git*/
#git {
    height: 100%;
    background-color: #eeecda;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#git-data-container {
    width: 60vw;
    height: 50vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    border-radius: 2%;
}

#git-data-leftside { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}

#git-data-rightside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 70%;
}

#buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

#buscar-usuario{
    width: 30vw;
    padding: 2vh;
    border: 2px solid #d3c09a;
    background-color: inherit;
}
/*Estilos relacionados ao footer da página*/
.footer{
    height: 15vh;
    background-color: #373a40;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > p{
    font-weight: lighter;
    color: #FFFFFF;
}