
footer {
    background: $primary-color;
        p {
            text-align: center;
            padding: 50px 10px;
            color: $base-color_white;
            font-size: 1.125em;
        }
    }