.card-repository {
  min-height: 100px;
  width: 80%;
  margin-bottom: 4.5rem;
  display: flex;
  flex-direction: column;
  padding: 3rem 3.5rem;
  background-color: #f3f3f3;
  border-radius: 1.5rem;
  box-shadow: 0 0 1em #000;
}

.card-repository a {
display: flex;
align-self: center;
}

.p {
  line-height: 3.5rem;
  font-size: 1.8rem;
}

.link {
  margin-top: 2rem;
  padding: 1.5rem;
  width: 18rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 1.6rem;
  background-color: #b9b2e0;
  color: #000;
  border-radius: 1.5rem;
  cursor: pointer;
  box-shadow: 0 0 .2em #000;
  transition: 0.5s;
}
.link:hover {
  opacity: 0.7;
}

@media (min-width: 700px) {
  .card-repository {
    width: 70%;
    margin-bottom: 5rem;
  }

  .p {
    line-height: 4rem;
    font-size: 2rem;
  }

  .link {
    margin-top: 2.5rem;
    padding: 1.8rem;
    width: 30rem;
  }

}
