/*********************************************************************
            VARIAVEIS
*********************************************************************/
$title-size: 2em;
$font-size-body-resize: clamp(1em, 1.19em, 1.21em);
$color-repository-info: #255733;
