
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&display=swap');


body {
    font-family: 'Lato', sans-serif;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}