html,
body {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

button,
[type="submit"] {
    cursor: pointer;
    -webkit-apperance:button;
}

p {
    margin-inline-start: 0;
    margin-block-end: 0;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

html{
    scroll-behavior: smooth;
 }