// COLORS
$primary-color: #FE6300;
$black-color: #000;
$base-color_gray: #323232;
$base-color_white: #fff;


$font-family_primary:'Lato', sans-serif;

$font-weight: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
